@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: 'Roboto', sans-serif;
}

img {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-style: solid;
  border-radius: 100%;
  margin: 5px;
}

.overall {
  position: relative;
}

.container {
  margin: auto;
  background-color: LightBlue;
  width: 900px;/*
  border: 3px red;*/
}

.streamer {  
  display: inline-block;
  background-color:LightGrey;
  position: relative;
  /*border: 3px;*/
}

.channel-name {
  vertical-align: middle;
  /*border: 3px solid #73AD21; */
}

.channel-info {
  position: absolute;
  left: 250px;
  top: 25px;
  text-align: center;
}

.inline {
  display: inline-block;
}

h1 {
  text-align: center;
}

.my-button {
  width: 100px;
  height: 16px;
  position: absolute;
  text-align: center;
  border: 1px solid;
  background-color: LightCyan;
}
.my-button:hover {
  background-color: GoldenRod;
}
#all-button {    
  top: 0px;
  right: 0px;
}

#online-button {    
  top: 16px;
  right: 0px;
}
#offline-button {  
  top: 32px;
  right: 0px;
}
